body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f1; /* Set a light background color for the entire page */
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}
header:hover {
    background-color: #2980b9; /* Darker background color on hover */
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for text color */
}

main {
    padding: 2em;
    background-color: #fff; /* Set a white background for the main content */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a box shadow to the main content */
    border-radius: 10px; /* Add a border radius to the main content */
    overflow: hidden; /* Hide overflowing content */
}

section {
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd; /* Add a subtle border between sections */
    padding-bottom: 2em;
    opacity: 0;
    transform: translateY(20px); /* Initial transform for animation */
    background-color: #fff; /* Set a white background for each section */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to sections */
    border-radius: 8px; /* Add a border radius to sections */
    overflow: hidden; /* Hide overflowing content */
    padding: 2em;
    animation: fadeInUp 1s ease-out forwards;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    z-index: 1; /* Ensure the footer is above the main content */
}

img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 4px solid #ddd; /* Add a border around images */
    border-radius: 8px; /* Add a border radius for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

h1 {
    margin-bottom: 0.5em;
    font-size: 30px;
    border-bottom: 2px solid #3498db; /* Add an underline border to section titles */
    padding-bottom: 0.3em;
}

h2 {
    color: #3498db;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    border-bottom: 2px solid #3498db; /* Add an underline border to section titles */
    padding-bottom: 0.3em;
}

h3 {
    color: #3498db;
    margin-bottom: 0.2em;
    font-size: 1.1em;
    border-bottom: 2px solid #3498db; /* Add an underline border to section titles */
    padding-bottom: 0.2em;
}

p {
    margin-bottom: 1em;
    color: #ffffff; /* Set a darker color for paragraphs */
}

/* Improved List Styling */
ul, ol {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
    line-height: 1.5;
}

/* Custom Bullet for Unordered Lists */
ul {
    padding-left: 1.5em;
}

ul li::before {
    content: '\2022'; /* Unicode character for a solid circle bullet */
    color: #3498db; /* Bullet color */
    display: inline-block;
    width: 1em; /* Adjust the width of the bullet */
    margin-left: -1.5em; /* Negative margin to align with the text */
}

/* Custom Numbering for Ordered Lists */
ol {
    counter-reset: my-counter;
    padding-left: 1.5em;
}

ol li {
    counter-increment: my-counter;
}

ol li::before {
    content: counter(my-counter) '.'; /* Custom numbering format */
    color: #3498db; /* Number color */
    font-weight: bold; /* Make the number bold */
    display: inline-block;
    width: 1.5em; /* Adjust the width of the number */
    margin-left: -2em; /* Negative margin to align with the text */
}


a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Smooth transition for link color */
}

a:hover {
    color: #e74c3c; /* Change link color on hover */
}

/* Add a fade-in animation for sections */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 1em;
    }

    section {
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
}

@media (max-width: 480px) {
    header, footer {
        padding: 0.5em;
    }

    main {
        padding: 1em;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
}
